body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1 {
    color:black;
}

h2 {
    color:black ;
}

p {
    font-size: large;
    color:black;
}



img {
    width: 50%;
    height: 450px;
    border: 2px solid darkgreen;
}
video{
    border:2px solid darkgreen;
    width: 50%;
    height: 450px;
}

u:hover {
    font-size: 80px;
}